#Logo {
    padding-top: 0;
    padding-bottom: 0;
}

#extension_body {
    width: 250px;
    margin: auto;
    background: rgb(253, 244, 225);
    /* background: linear-gradient(to right, rgb(253, 244, 225), rgb(235, 225, 237), rgb(225, 243, 235)); */
    background: linear-gradient(to right, #a8c6fe, #e392fe, #ffc4ab);

    border-radius: 10px;
    text-align: center;
}


h1 {
    font-family: Helvetica, sans-serif;
    font-size: 200%;
    color: white;
    background: none;
    padding: 5%;
    padding-bottom: 0px;
}

h2 {
    font-size: 100%;
    color: white;
    font-family: Helvetica, sans-serif;
}

h3{
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: left; /* Align text to the left */
    font-size: 16px; /* Set the same font size for both buttons */
    max-width: 90%;
    margin: 1% auto; /* Center the button container horizontally */

}


.custom-file-upload,
.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    vertical-align: middle; /* Added to align buttons vertically */
    font-size: 16px; /* Set the same font size for both buttons */
    padding: 6px 12px; /* Set the same padding for both buttons */
    margin: 0 5px;
    width: auto; /* Allow the width to adjust based on content */
    height: 36px; /* Set the same height for both buttons */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

/* .button-line {
    padding-top: 2px; 
    padding-bottom: 5px; 
    max-width: 95%;
} */

.button-line {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 10px; /* Add some space below the button line */
}

.custom-file-upload:hover, button:hover {
    /* // Apply styles on hover  */
    background-color: rgba(255, 255, 255, 0.2);
    /* // Light transparent background color  */
}

.custom-file-upload input[type="file"] {
    position: absolute;
    font-size: 999px;
    opacity: 0;
    right: 0;
    top: 0;
}


.graph{
    max-width: 90%;
}

#button-container {
    background-color: white;
    border-radius: 10px; /* Adjust the value as needed */
    /*padding: 10px; /* Add padding as needed */
    max-width: 230px;
    margin: 0 auto; /* Center the button container horizontally */

}

.palette-button {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}